RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{HTTP_HOST} ^web.bkppd-balangankab\.info [NC]
RewriteRule ^(.*)$ index.php/$1 [L] 
#RewriteRule ^(.*)$ https://web.bkppd-balangankab.info/$1 [R,L]
