/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
font-family: 'Poppins', sans-serif;
}	
.blured {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff;
	filter: blur(1.5px);
	content: "";
	left: 0;
	top: 0;
	background-attachment: fixed;
	display: block;
	z-index: -1;
}
#btn-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btn-top.show {
  opacity: 1;
  visibility: visible;
}
		.animated {
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		}
		@-webkit-keyframes bounce {
		0%, 100% {
		-webkit-transform: translateY(0);
		}
		50% {
		-webkit-transform: translateY(-15px);
		}
		}
		@keyframes  bounce {
		0%, 100% {
		transform: translateY(0);
		}
		50% {
		transform: translateY(-15px);
		}
		}
		.bounce {
		-webkit-animation-name: bounce;
		animation-name: bounce;
		}
.rightToLeft{
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% { 
    left: calc(100% - 100px); 
   }
  100% {
    left: 0;     
  }
}