/* Multi Select ================================ */
.ms-container {
	width: auto !important;
}

.ms-container .ms-list {
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

.ms-container .ms-list.ms-focus {
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
}

.ms-container .ms-selectable,
.ms-container .ms-selection {
	min-width: 250px !important;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
	color: #000000 !important;
	background-color: #e6e6e6 !important;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selectable li.ms-elem-selection,
.ms-container .ms-selection li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
	padding: 9px 15px 6px 15px !important;
}

.ms-container .ms-optgroup-label {
	padding: 5px 0 0 8px !important;
}
