/* Bootstrap Tags Input ======================== */
.bootstrap-tagsinput {
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
}
