/* Modals ====================================== */

.modal-backdrop {
	/* background: rgb(248, 248, 248); */
	/* background: url("/assets/images/bg/line/bg-line-2.jpg") left top repeat;
	background-color: #fff;
	background-size: 6.5%; */
	/* -webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px); */
	/* background: #000; */
	background: rgb(0, 0, 0);
	-webkit-transition: none;
	-webkit-transition: none;
	transition: none;
}

.modal-backdrop.in {
	opacity: 0.3 !important;
}

.modal-backdrop-transparent {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10000;
	background-color: #fff;
}

.modal .modal-header {
	/* border-bottom:1px solid #DEDEDE; */
	border-bottom: none !important;
	padding: 25px 20px 15px 20px;
	/* background: #f8f9fc; */
	border-top-right-radius: 3px !important;
	border-top-left-radius: 3px !important;
}

.modal .modal-header .modal-title {
	font-weight: bold;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	/* border-bottom: 2px solid #eee; */
	padding-bottom: 10px 10px 10px 20px;
	text-transform: uppercase;
}

.modal .modal-content {
	border: 0px !important;
	-webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4) !important;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4) !important;
	/*box-shadow: 0 3px 5px rgba(102, 96, 96, 0.9) !important;
	*/
	/*border: 1px solid #444;
	*/
	font-family: "Roboto", sans-serif;
	/* border-radius: 15.15px !important;
	-webkit-border-radius: 15.15px !important;
	-moz-border-radius: 15.15px !important;
	-ms-border-radius: 15.15px !important;
	-o-border-radius: 15.15px !important; */
}

.modal .modal-content .modal-body {
	color: #777;
	padding: 15px 25px;
}

.modal .modal-footer {
	/* border-top: 1px solid #DEDEDE !important; */
	border-top: none !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.modal.fade .modal-dialog {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.modal.fade.in .modal-dialog {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform: translate3d(0, -400px, 0);
	transform: scale(1);
	opacity: 1;
}

.modal .modal-vcenter {
	margin-top: calc(50% - 40%);
}

.modal.modal-fixed-footer .modal-content .modal-body {
	max-height: 450px;
	width: 100%;
	overflow-y: scroll;
}

.modal-col-red {
	background-color: #f44336;
}

.modal-col-red .modal-body,
.modal-col-red .modal-title {
	color: #fff !important;
}

.modal-col-red .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-red .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-red .modal-footer .btn-link:hover,
.modal-col-red .modal-footer .btn-link:active,
.modal-col-red .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-pink {
	background-color: #e91e63;
}

.modal-col-pink .modal-body,
.modal-col-pink .modal-title {
	color: #fff !important;
}

.modal-col-pink .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-pink .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-pink .modal-footer .btn-link:hover,
.modal-col-pink .modal-footer .btn-link:active,
.modal-col-pink .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-purple {
	background-color: #9c27b0;
}

.modal-col-purple .modal-body,
.modal-col-purple .modal-title {
	color: #fff !important;
}

.modal-col-purple .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-purple .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-purple .modal-footer .btn-link:hover,
.modal-col-purple .modal-footer .btn-link:active,
.modal-col-purple .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-deep-purple {
	background-color: #673ab7;
}

.modal-col-deep-purple .modal-body,
.modal-col-deep-purple .modal-title {
	color: #fff !important;
}

.modal-col-deep-purple .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-deep-purple .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-deep-purple .modal-footer .btn-link:hover,
.modal-col-deep-purple .modal-footer .btn-link:active,
.modal-col-deep-purple .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-indigo {
	background-color: #3f51b5;
}

.modal-col-indigo .modal-body,
.modal-col-indigo .modal-title {
	color: #fff !important;
}

.modal-col-indigo .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-indigo .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-indigo .modal-footer .btn-link:hover,
.modal-col-indigo .modal-footer .btn-link:active,
.modal-col-indigo .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-blue {
	background-color: #2196f3;
}

.modal-col-blue .modal-body,
.modal-col-blue .modal-title {
	color: #fff !important;
}

.modal-col-blue .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-blue .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-blue .modal-footer .btn-link:hover,
.modal-col-blue .modal-footer .btn-link:active,
.modal-col-blue .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-light-blue {
	background-color: #03a9f4;
}

.modal-col-light-blue .modal-body,
.modal-col-light-blue .modal-title {
	color: #fff !important;
}

.modal-col-light-blue .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-light-blue .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-light-blue .modal-footer .btn-link:hover,
.modal-col-light-blue .modal-footer .btn-link:active,
.modal-col-light-blue .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-cyan {
	background-color: #00bcd4;
}

.modal-col-cyan .modal-body,
.modal-col-cyan .modal-title {
	color: #fff !important;
}

.modal-col-cyan .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-cyan .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-cyan .modal-footer .btn-link:hover,
.modal-col-cyan .modal-footer .btn-link:active,
.modal-col-cyan .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-teal {
	background-color: #009688;
}

.modal-col-teal .modal-body,
.modal-col-teal .modal-title {
	color: #fff !important;
}

.modal-col-teal .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-teal .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-teal .modal-footer .btn-link:hover,
.modal-col-teal .modal-footer .btn-link:active,
.modal-col-teal .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-green {
	background-color: #4caf50;
}

.modal-col-green .modal-body,
.modal-col-green .modal-title {
	color: #fff !important;
}

.modal-col-green .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-green .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-green .modal-footer .btn-link:hover,
.modal-col-green .modal-footer .btn-link:active,
.modal-col-green .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-light-green {
	background-color: #8bc34a;
}

.modal-col-light-green .modal-body,
.modal-col-light-green .modal-title {
	color: #fff !important;
}

.modal-col-light-green .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-light-green .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-light-green .modal-footer .btn-link:hover,
.modal-col-light-green .modal-footer .btn-link:active,
.modal-col-light-green .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-lime {
	background-color: #cddc39;
}

.modal-col-lime .modal-body,
.modal-col-lime .modal-title {
	color: #fff !important;
}

.modal-col-lime .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-lime .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-lime .modal-footer .btn-link:hover,
.modal-col-lime .modal-footer .btn-link:active,
.modal-col-lime .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-yellow {
	background-color: #ffe821;
}

.modal-col-yellow .modal-body,
.modal-col-yellow .modal-title {
	color: #fff !important;
}

.modal-col-yellow .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-yellow .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-yellow .modal-footer .btn-link:hover,
.modal-col-yellow .modal-footer .btn-link:active,
.modal-col-yellow .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-amber {
	background-color: #ffc107;
}

.modal-col-amber .modal-body,
.modal-col-amber .modal-title {
	color: #fff !important;
}

.modal-col-amber .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-amber .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-amber .modal-footer .btn-link:hover,
.modal-col-amber .modal-footer .btn-link:active,
.modal-col-amber .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-orange {
	background-color: #ff9800;
}

.modal-col-orange .modal-body,
.modal-col-orange .modal-title {
	color: #fff !important;
}

.modal-col-orange .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-orange .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-orange .modal-footer .btn-link:hover,
.modal-col-orange .modal-footer .btn-link:active,
.modal-col-orange .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-deep-orange {
	background-color: #ff5722;
}

.modal-col-deep-orange .modal-body,
.modal-col-deep-orange .modal-title {
	color: #fff !important;
}

.modal-col-deep-orange .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-deep-orange .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-deep-orange .modal-footer .btn-link:hover,
.modal-col-deep-orange .modal-footer .btn-link:active,
.modal-col-deep-orange .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-brown {
	background-color: #795548;
}

.modal-col-brown .modal-body,
.modal-col-brown .modal-title {
	color: #fff !important;
}

.modal-col-brown .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-brown .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-brown .modal-footer .btn-link:hover,
.modal-col-brown .modal-footer .btn-link:active,
.modal-col-brown .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-grey {
	background-color: #9e9e9e;
}

.modal-col-grey .modal-body,
.modal-col-grey .modal-title {
	color: #fff !important;
}

.modal-col-grey .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-grey .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-grey .modal-footer .btn-link:hover,
.modal-col-grey .modal-footer .btn-link:active,
.modal-col-grey .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-blue-grey {
	background-color: #607d8b;
}

.modal-col-blue-grey .modal-body,
.modal-col-blue-grey .modal-title {
	color: #fff !important;
}

.modal-col-blue-grey .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-blue-grey .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-blue-grey .modal-footer .btn-link:hover,
.modal-col-blue-grey .modal-footer .btn-link:active,
.modal-col-blue-grey .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-black {
	background-color: #000000;
}

.modal-col-black .modal-body,
.modal-col-black .modal-title {
	color: #fff !important;
}

.modal-col-black .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-black .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-black .modal-footer .btn-link:hover,
.modal-col-black .modal-footer .btn-link:active,
.modal-col-black .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-white {
	background-color: #ffffff;
	margin: auto;
	left: 0px !important;
	right: 0px !important;
	top: 0px !important;
	bottom: 0px !important;
	position: absolute;
}

/* .modal-header:hover {
	cursor: move;
} */

.modal-col-white .modal-body,
.modal-col-white .modal-title {
	color: #666 !important;
}

.modal-col-white .modal-footer {
	background-color: rgba(0, 0, 0, 0.12);
}

.modal-col-white .modal-footer .btn-link {
	color: #fff !important;
}

.modal-col-white .modal-footer .btn-link:hover,
.modal-col-white .modal-footer .btn-link:active,
.modal-col-white .modal-footer .btn-link:focus {
	background-color: rgba(0, 0, 0, 0.12);
}
