.gpr_list::-webkit-scrollbar {
  width: 15px;
}

.gpr_list::-webkit-scrollbar-track {
  background-color: #efefef;
  border-left: 1px dotted #ccc;
  // border-radius: 100px;
}

.gpr_list::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #999;
  opacity: 0.6;
}
.gpr_list::-webkit-scrollbar-thumb:hover {
  opacity: 1;
  transition: opacity .3s ease;
}

div#widget-gpr-bkppdblg {
    border-radius: 10px;
    overflow: hidden;
    padding: 3px;
}
.gpr_bkppdblg {
    padding: 0px;
    border-radius: 7px;
    overflow: hidden;
    font-family: "Segoe UI",Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.5em !important;
}
	
.gpr_panel_head {
    color: #FFF;
    padding: 10px;
}

.gpr_panel_head_left {
    display: table-cell;
    vertical-align: middle !important;
    padding-right: 10px;
}

	.gpr_panel_head_right{
		display:table-cell;
		vertical-align:middle !important;
		padding:0px;
		//width:10000px;
	}

.gpr_panel_head_img {
	display: block;
	width: 60px !important;
	border-radius: 30px !important;
	padding: 0px !important;
	margin: 5px !important;
	/* border: 1px solid #fff !important; */
	object-fit: cover !important;
	object-position: center !important;
}

.gpr_panel_left {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
    width: 60px !important;
}

.gpr_panel_img {
	display: block;
	width: 50px;
	border-radius: 5px;
	padding:2px;
	object-fit: cover;
	object-position: center;
	margin: 5px 0;
}
.gpr_panel_number {
	display: flex;
	justify-content: stretch;
	flex-direction: column;
	align-items: center;
	align-content: stretch;
	/* background-color: teal; */
	/* color: teal; */
	padding: 5px;
	object-fit: cover;
	font-size: 150% !important;
	font-weight: bold;
	margin: 0;
}
	.gpr_panel_right{
		display:table-cell;
		vertical-align:top;
		padding:0px;
	}
	
	.gpr_panel_title {
		font-size:16px;
	}

	.gpr_panel_title_silka {
		font-size:25px !important;
		color: #555 !important;
		padding: 0px !important;
		margin: 5px !important;
	}
	
.gpr_panel_title_main {
    font-size: 150%;
    padding: 0;
    cursor: default;
}
	
	.gpr_panel_title_sub {
		font-size:80%;
    cursor: default;
	}
	
	.gpr_panel_title_url {
		font-size:70%;
		font-weight:bold;
		background-color: #28FFBF;
		padding: 1px 6px;
		border-radius: 6px;
		text-align: center;
	}
	.gpr_panel_title_url a {
		text-decoration:none;
		color: #064420 !important;
	}
	
.gpr_list {
    list-style-type: none !important;
    padding: 0;
    margin: 0;
    background: #FFF;
    overflow-y: auto;
    overflow-x: hidden;
    /* box-shadow: 0 0 0.5em #ccc; */
    border-top: 1px dotted #ccc;
}
	
	.gpr_list li {
		border-bottom:1px dotted #ccc;
		padding:10px;
		list-style:none !important;
	}
	
	.gpr_item {
		padding:5px !important;
	}
	.gpr_item:hover{
		background-color:#eee;
	}
	
.gpr_panel_news_title {
	display:block;
    text-decoration: none !important;
    color: #2d2d2d;
    font-weight: 600;
}
	
	.gpr_panel_news_title a {
		display:block;
		text-decoration:none;
		color:#3f51b5;
	}
	
	.gpr_panel_news_attr{
		display: block;
		margin-bottom: 2px;
	}
	
.gpr_tgl {
    font-size: 69%;
    color: #717171;
    border-radius: 30px;
	float:left;
}

.gpr_kategori {
    font-size: 70%;
    background-color: #008000;
    padding: 2px 10px;
    border-radius: 30px;
    float: right;
    color: #FFF;
}
.gpr_panel_silka {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	color: #999;
	font-size: 14px;
	background-color: #fff;
	padding: 8px 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.gpr_panel_silka > div {
	flex-grow: 1;
	flex-shrink: 1;
	text-align: center;
}
.gpr_footer {
	padding: 8px 3px 0px 3px;
	color: #fff !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 15px !important;
  display: flex;
  justify-content: space-between;
}
.gpr_footer a {
	text-decoration: none;
	color: #fff !important;
}
.gpr_footer a:hover,.gpr_footer a:focus,.gpr_footer a:active {
	color: #333;
	transition: color .3s ease !important;
}

/* Loading Init */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}