@import "costume-bs";
@import "vendor";

// Material icons custome
// size
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
// color
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.orange600 { color: #FB8C00; }

.fill-gelombang {
	fill: #e9ecef;
}
// Loading Screen
.page-slider {
content: "";
  position:fixed;
  min-width: 100%;
  min-height: 100vh;
  background-color: #efefef;
  left:0;
  top: 0;
  z-index: 9999;
}
.slider{
  position:fixed;
  width:25%;
  height:5px;
  overflow-x: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.line{
  position:absolute;
  opacity: 0.4;
  background:$teal;
  width:150%;
  height:5px;
}

.subline{
  position:absolute;
  background:$green;
  height:5px; 
}
.inc{
  animation: increase 2s infinite;
}
.dec{
  animation: decrease 2s 0.5s infinite;
}
.logo-loading {
	position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
	text-align: center;
	vertical-align: middle;
	z-index: 9999;
}
@keyframes increase {
   from { left: -5%; width: 5%; }
   to { left: 130%; width: 100%;}
}
@keyframes decrease {
   from { left: -80%; width: 80%; }
   to { left: 110%; width: 10%;}
}

// Loading
#loader { 
    border: 5px solid #eee; 
    border-radius: 50%; 
    border-top: 5px solid $cyan; 
    width: 50px; 
    height: 50px; 
    animation: spin 0.5s linear infinite; 
    z-index: 5555;
} 
@keyframes spin { 
    100% { 
        transform: rotate(360deg); 
    } 
} 
.loader-center { 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    background-color: #fff;
} 

// Placeholders
@-webkit-keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}

	100% {
		background-position: 468px 0;
	}
}

.content-placeholder {
	display: inline-block;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eaefff), color-stop(18%, rgb(249, 255, 255)), color-stop(33%, #eaefff));
	background: -webkit-linear-gradient(left, #eaefff 8%, rgb(249, 255, 255) 18%, #eaefff 33%);
	background: linear-gradient(to right, #eaefff 8%, rgb(249, 255, 255) 18%, #eaefff 33%);
	-webkit-background-size: 800px 104px;
	background-size: 800px 104px;
	height: inherit;
	position: relative;
}
body {
	background: #F8F8F8;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 400;
}

// Custome

#caripegawai .typeahead__list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar{
    will-change: min-height;
}

.sidebar__inner{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}
.modal-backdrop {
  opacity:0; transition:opacity .4s;
}
.modal-backdrop.in {
  opacity:.9;
}
a {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

a:hover {
	color: #3282b8;
	text-decoration: none;
}

h5.title-sidebar {
	font-family: 'Poppins', sans-serif;
	font-family: 700;
}

nav.navbar li a {
	color: #666;
	transition: all .3s ease-in;
	font-weight: 600;
}

nav.navbar li a:hover, 
nav.navbar li a.active {
	color: #bbe1fa !important;
	background-color: #0f4c75;
	cursor: pointer;
}
.dropdown-menu {
	top: 45px;
	padding: 10px;
	border: 0px;
	box-shadow: 0 4px 2em #ccc;	
	border-radius: 15px;
}

// Switch darkmode
.switch {
    --line: #505162;
    --dot: #F7F8FF;
    --circle: #9EA0BE;
    --duration: .3s;
    --text: #9EA0BE;
    cursor: pointer;
    input {
        display: none;
        & + div {
            position: relative;
            &:before,
            &:after {
                --s: 1;
                content: '';
                position: absolute;
                height: 4px;
                top: 10px;
                width: 24px;
                background: var(--line);
                transform: scaleX(var(--s));
                transition: transform var(--duration) ease;
            }
            &:before {
                --s: 0;
                left: 0;
                transform-origin: 0 50%;
                border-radius: 2px 0 0 2px;
            }
            &:after {
                left: 28px;
                transform-origin: 100% 50%;
                border-radius: 0 2px 2px 0;
            }
            span {
                padding-left: 56px;
                line-height: 24px;
                color: var(--text);
                &:before {
                    --x: 0;
                    --b: var(--circle);
                    --s: 4px;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    box-shadow: inset 0 0 0 var(--s) var(--b); 
                    transform: translateX(var(--x));
                    transition: box-shadow var(--duration) ease, transform var(--duration) ease;
                }
                &:not(:empty) {
                    padding-left: 64px;
                }
            }
        }
        &:checked {
            & + div {
                &:before {
                    --s: 1;
                }
                &:after {
                    --s: 0;
                }
                span {
                    &:before {
                        --x: 28px;
                        --s: 12px;
                        --b: var(--dot);
                    }
                }
            }
        }
    }
}



// .navbar .material-icons {
// 	font-size: 18px;
// 	top: 3px;
// 	position: relative;
// }

.navbar .dropdown-toggle,
.navbar .dropdown-menu a {
	cursor: pointer;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active {
	color: inherit;
	text-decoration: none;
	background-color: inherit;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
	color: #bbe1fa;
	text-decoration: none;
	background-color: #3282b8;
}

@media (min-width: 767px) {
	.navbar .dropdown-toggle:not(.nav-link)::after {
		display: inline-block;
		width: 0;
		height: 0;
		margin-left: 0.5em;
		vertical-align: 0;
		border-bottom: 0.3em solid transparent;
		border-top: 0.3em solid transparent;
		border-left: 0.3em solid;
	}
}

// #sidebar-kiri, #sidebar-kanan {
// 	will-change: min-height; transform: translate(0, 0); /* For browsers don't support translate3d. */
//     transform: translate3d(0, 0, 0);
//     will-change: position, transform;
// }
/* Slick sliderjs */
.slick-banner {
	display: flex;
}

.slick-banner .slick-item {
	max-height: 350px;
	margin: 25px 20px;
	position: relative;
}

.slick-banner .slick-item .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
	transition: all linear .8s;
	-webkit-transition: all linear .8s;
	-moz-transition: all linear .8s;
	-ms-transition: all linear .8s;
	-o-transition: all linear .8s;
}

.slick-banner .slick-center .overlay {
	opacity: 0;
	transition: all linear .8s;
	-webkit-transition: all linear .8s;
	-moz-transition: all linear .8s;
	-ms-transition: all linear .8s;
	-o-transition: all linear .8s;
}

.slick-banner .slick-center {
	box-shadow: 0 4px 4px #222;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.slick-banner ul.slick-dots li.slick-active {
	background-color: #444;
	transition: all .4s ease;
	border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	-ms-border-radius: 50% 50%;
	-o-border-radius: 50% 50%;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
}

.slick-banner .slick-item img,
.slick-banner .slick-center img {
	width: 100%;
	height: 100%;
	transition: all linear .4s;
}

/* Warna Gradient */
.gradient-primary {
	border: 0;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

/* Card */
// .card .canvas {
// 	overflow: hidden;
// 	width: 100%;
// 	max-height: 550px;
// }

// .card:hover {
// 	box-shadow: 0 3px 8px #eeeeee;
// 	transition: 0.4s ease;
// 	-webkit-transition: 0.4s ease;
// 	-moz-transition: 0.4s ease;
// 	-ms-transition: 0.4s ease;
// 	-o-transition: 0.4s ease;
// }

// .card img.card-img-top {
// 	transition: all 0.4s ease;
// 	-webkit-transition: all 0.4s ease;
// 	-moz-transition: all 0.4s ease;
// 	-ms-transition: all 0.4s ease;
// 	-o-transition: all 0.4s ease;
// }

// .card img.card-img-top:hover,
// .card:hover img.card-img-top {
// 	-webkit-transform: scale(1.08);
// 	transform: scale(1.08);
// }

/* Lazyload */
// img.beforeLoaded {
// 	filter: blur(5px);
// 	transition: all .4s linear;
// 	height: inherit;
// 	-webkit-transition: all .4s linear;
// 	-moz-transition: all .4s linear;
// 	-ms-transition: all .4s linear;
// 	-o-transition: all .4s linear;
// }

img.lazy {
	display: block;
	background-color: #19456b;
	/* optional way, set loading as background */
	// background-image: url("../../../assets/images/loader/rolling-2.gif");
	background-image: url("../../../bower_components/SVG-Loaders/svg-loaders/oval.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

img.isLoaded {
	filter: blur(0px);
}

i.likes {
	transition: all 0.2s linear;
	transform: scale(1.5);
}

i.likes:hover {
	transform: scale(1.9);
	-webkit-transform: scale(1.9);
	-moz-transform: scale(1.9);
	-ms-transform: scale(1.9);
	-o-transform: scale(1.9);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

/* Button */
.btn-transparent {
	background: transparent !important;
	border: 0;
	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}

.btn-transparent:hover {
	background: rgb(247, 247, 247) !important;
}

/* Border */
/* .border-light {
	border-color: #eee !important;
} */
/* Custome Navbar hover */
#navbar {
	transition: top 0.6s;
}

.navbar .nav-item:not(:last-child) {
	margin-right: 15px;
}

.dropdown-toggle::after {
	transition: transform 0.18s linear;
	-webkit-transition: transform 0.18s linear;
	-moz-transition: transform 0.18s linear;
	-ms-transition: transform 0.18s linear;
	-o-transition: transform 0.18s linear;
}

.show.dropdown .dropdown-toggle::after {
	transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
}

.dropdown-menu {
	margin-top: 0px !important;
}

@media (min-width: 992px) {
	.animate {
		animation-duration: 0.3s;
		-webkit-animation-duration: 0.3s;
		animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
	}
}

@keyframes slideIn {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}

	100% {
		transform: translateY(0rem);
		opacity: 1;
	}

	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
}

@-webkit-keyframes slideIn {
	0% {
		-webkit-transform: transform;
		-webkit-opacity: 0;
	}

	100% {
		-webkit-transform: translateY(0);
		-webkit-opacity: 1;
	}

	0% {
		-webkit-transform: translateY(1rem);
		-webkit-opacity: 0;
	}
}

.slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
}

/* Margin */
.mt--5 {
	margin-top: -25px !important;
}
.mt--6 {
	margin-top: -36px !important;
}
.mt--7 {
	margin-top: -49px !important;
}
// Wave 
.wave {
	top: 75%;
	left: -117%;
	width: 100%;
	height: 200px;
	display: block;
	background-color: "orange";
	opacity: 0.6;
	position: absolute;
	border-radius: 40%;
}

.wave.one {
	animation: wave 15s linear -1s infinite;
}

.wave.two {
	animation: wave 18s linear -1s infinite;
}

.wave.three {
	animation: wave 21s linear -1s infinite;
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

// Timeline komentar
.tracking-detail {
 padding:3rem 0
}
#tracking {
 margin-bottom:1rem
}
[class*=tracking-status-] p {
 margin:0;
 font-size:1.1rem;
 color:#fff;
 text-transform:uppercase;
 text-align:center
}
[class*=tracking-status-] {
 padding:1.6rem 0
}
.tracking-status-intransit {
 background-color:#65aee0
}
.tracking-status-outfordelivery {
 background-color:#f5a551
}
.tracking-status-deliveryoffice {
 background-color:#f7dc6f
}
.tracking-status-delivered {
 background-color:#4cbb87
}
.tracking-status-attemptfail {
 background-color:#b789c7
}
.tracking-status-error,.tracking-status-exception {
 background-color:#d26759
}
.tracking-status-expired {
 background-color:#616e7d
}
.tracking-status-pending {
 background-color:#ccc
}
.tracking-status-inforeceived {
 background-color:#214977
}
.tracking-list {
 // border:1px solid #e5e5e5
}
.tracking-item {
 border-left:1px solid #e5e5e5;
 position:relative;
 padding:2rem 1.5rem .5rem 2.5rem;
 font-size:.9rem;
 margin-left:3rem;
 min-height:5rem
}
.tracking-item:last-child {
 padding-bottom:4rem
}
.tracking-item .tracking-date {
 margin-bottom:.5rem
}
.tracking-item .tracking-date span {
 color:#888;
 font-size:85%;
 padding-left:.4rem
}
.tracking-item .tracking-content {
 padding:.5rem .8rem;
 background-color:#f4f4f4;
 border-radius:.5rem
}
.tracking-item .tracking-content span {
 display:block;
 color:#888;
 font-size:85%
}
.tracking-item .tracking-icon {
 line-height:2.6rem;
 position:absolute;
 left:-1.3rem;
 width:2.6rem;
 height:2.6rem;
 text-align:center;
 border-radius:50%;
 font-size:1.1rem;
 background-color:#fff;
 color:#fff
}
.tracking-item .tracking-icon.status-sponsored {
 background-color:#f68
}
.tracking-item .tracking-icon.status-delivered {
 background-color:#4cbb87
}
.tracking-item .tracking-icon.status-outfordelivery {
 background-color:#f5a551
}
.tracking-item .tracking-icon.status-deliveryoffice {
 background-color:#f7dc6f
}
.tracking-item .tracking-icon.status-attemptfail {
 background-color:#b789c7
}
.tracking-item .tracking-icon.status-exception {
 background-color:#d26759
}
.tracking-item .tracking-icon.status-inforeceived {
 background-color:#214977
}
.tracking-item .tracking-icon.status-intransit {
 color:#e5e5e5;
 // border:1px solid #e5e5e5;
 font-size:.6rem
}
@media(min-width:992px) {
 .tracking-item {
  margin-left:10rem
 }
 .tracking-item .tracking-date {
  position:absolute;
  left:-10rem;
  width:7.5rem;
  text-align:right
 }
 .tracking-item .tracking-date span {
  display:block
 }
 .tracking-item .tracking-content {
  padding:0;
  background-color:transparent
 }
}

@media (max-width: 620px) {
	.big-card {
		transform: scale(1) !important;	
	}
	.intro-website {
		color: yellow !important;
	}
	#halojs {
		color: #fff !important;
		font-size: 1em !important;
	}
	ul.navbar-nav {
		background-color: #fff !important;
		border-radius: 25px;
	}
	.navbar-light .navbar-toggler {
		border:0 !important;
		border-color: transparent !important;
	}
	.slider {
		width: 50%;
	}
	.logo-loading {
	  top: 40%;
	  transform: translate(-50%, -40%);
	}
}